*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: Century Gothic;
}

nav, li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

/*HEADER*/

.menu-fixo {
    position: fixed;
    width: 100%;
    height: 100px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 2;
    border: none;
  }
  
  .menu a {
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    transition: color 0.3s;

  }
  
  .menu a:hover {
    border-bottom: 1px solid #c3c63b;
    opacity: 0.7;
  }
  a img{
    width: 100px;
  }

  .menu-fixo.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
  }

  @media screen and (max-width: 768px) {
    .menu-fixo {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
    }
    .menu-fixo img {
        width: 60px;
        margin: 9px auto;
        display: block;
      }
    .menu {
        display: flex;
        align-items: center;
        justify-content: center; 
      }
      
      .menu a {
        font-weight: bold;
        font-size: 13px;
        margin: 0 5px;
      }
  }
  


/*Hero*/
.slideshow-section {
    height: 100vh;
    overflow: hidden;
    position: relative;

  }
  
  .slideshow {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform-origin: center;
    animation: kenburns 25s ease-in-out infinite alternate;
    z-index: 0;
  }
  /*.slide.active {
    animation: kenburns 7s ease-in-out forwards;
    transform: scale(1);
    z-index: 1;
  }*/
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /*  Escurece a imagem */
    z-index: 1; /* fica abaixo da legenda */
  }

  .caption {
    width: 55%;
    position: absolute;
    top: 40%;
    left: 35%;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.3s;
  }
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Efeito Ken Burns */
  @keyframes kenburns {
    0% {
      transform: scale(1) translate(0, 0);
    }
    100% {
      transform: scale(1.05) translate(-10px, -10px);
    }
  }


@media screen and (max-width: 768px) {
    .caption{
        left: 25%;
        top: 35%;
        width: 50%;
        text-align: start;
        font-size: 20px;
    }
}

/*Conheça*/
#conhe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

#conhe h3{
    font-size: 2rem;
    margin-bottom: 35px;
    text-align: center;
}

#conhe p{
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
}

#conhe hr{
    width: 400px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 50px;
    border: none;
}

#conhe .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#conhe .grid li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition: transform 0.4s ease, filter 0.4s ease;
}

#conhe .grid li:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    z-index: 1;
}

#conhe .grid li.small{
    flex-basis: 40%;
}

#conhe .grid li.large{
    flex-basis: 60%;
}

@media(max-width: 768px){
    #conhe{
        padding: 50px 20px;
        width: 90%;
        margin: 0 auto;
    }

    #conhe .grid li.small, #conhe .grid li.large{
        flex-basis: 100%;
        
    }
    #conhe h3{
        font-size: 25px;
        
    }
    #conhe p{
        text-align: justify;
        margin-bottom: 20px;
    }
    #conhe hr{
        width: 250px;
        margin-bottom: 20px;
        height: 1px;
    }
    
}

/*Sobre*/
#sobre{
    background-color: #191c03;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

#sobre h3{
    color: #c3c63b;
    font-size: 2rem;
    margin-bottom: 35px;
    text-align: center;
}

#sobre p{
    color: #fff;
    max-width: 800px;
    margin-bottom: 35px;
    text-align: justify;
}

#sobre hr{
    width: 400px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 70px;
    border: none;
}

img{
    width: 50px;
}

#sobre .grid{
    width: 100%;
    display: flex;
}

#sobre .grid li{
    padding: 0 30px;
    text-align: center;
}

#sobre .grid li img{
    background-color: #c3c63b;
    margin-bottom: 30px;
    font-size: 50px;
}

#sobre .grid li h4{
    font-size: 1.5rem;
    color: #c3c63b;
    margin-bottom: 30px;
}

#sobre .grid li p{
    color: #fff;
}

@media (max-width: 768px){
    #sobre{
        padding: 50px 20px;
    }
    #sobre h3{
        font-size: 25px;
    }
    #sobre .grid li img{
        margin-bottom: 10px;
    }
    #sobre .grid li h4{
        font-size: 22px;
        margin-bottom: 10px;
    }
    #sobre .grid {
        flex-direction: column;
    }
    #sobre hr{
        width: 250px;
        margin-bottom: 20px;
    }
}

/*qualidade */

.inf{
    width: 100%;
    height: 90vh;
}
.qualid{
    width: 90%;
    margin: 15px auto;
    display: flex;
    
}
.image{
    width: 50%;
    height: 100%;
    margin: 5px auto;
    margin-top: 25px;
}
.image img{
    width: 150px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.image img:hover {
    transform: scale(1.1); 
}
.ft2{
    margin-bottom: 25px;
}
.ft3{
    margin-bottom: 40px;
}

.desc{
    width: 40%;
    margin-top: 25px;
}
.desc h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.desc h3{
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px;
}
.desc p{
    text-align: justify;
    color: #333;
}

.num{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #ccc;
    height: 20vh;
}
.num h3{
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.num p{
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #333333e8;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .inf{
        margin-bottom: 240px;
    }
    .qualid {
        flex-direction: column;
        align-items: center;
    }

    .image {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
        flex-wrap: nowrap;
    }

    .image img {
        width: 30%;
        height: auto;
        object-fit: cover;
        margin-bottom: 0;
    }

    .desc {
        width: 90%;
        margin-top: 20px;
        text-align: center;
    }

    .desc h2 {
        font-size: 20px;
    }

    .desc h3 {
        font-size: 13px;
    }

    .desc p {
        font-size: 14px;
        text-align: justify;
    }

    .num {
        flex-wrap: wrap;
        height: auto;
        padding: 15px 0;
    }

    .num > div {
        width: 45%;
        margin: 10px 0;
    }

    .num h3 {
        font-size: 20px;
    }

    .num p {
        font-size: 11px;
    }
}


/*parceiros*/

#parceiros{
    width: 100%;
    height: 125vh;
}
.parc{
    width: 90%;
    margin: 50px  100px auto;
    display: flex;
    margin-top: 100px;
    margin-bottom: 30px;
    gap: 50px;
}
.foto-parc{
    width: 50%;
    height: 550px;
    margin: 0 auto;

}
.foto-parc img{
    width: 90%;
    height: 100%;
    margin-top: -30px;
}
.desc-parc{
    width: 45%;
    margin-right: 60px;
    margin-top: 40px;
}
.desc-parc h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.desc-parc h3{
    font-size: 15px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px; 
}
.desc-parc p{
    text-align: justify;
}
.parc-hr{
    width: 600px;
    height: 2px;
    margin-bottom: 10px;
    margin: 0 auto;
}
.pcs h3{
    width: 100%;
    color: #555555d2;
    text-align: center;
    margin-bottom: 10px;
}
.logo-parcs{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 25vh;
    background-color: transparent;
}
.logs{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.logs img{
    width: 100px;
}
.logs img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.logo-track {
    display: flex;
    width: 100%;
    animation: scroll 20s linear infinite;
}

.logs {
    display: flex;
}

.logs img {
    width: 100px;
    margin: 0 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 768px) {
    #parceiros{
        margin-bottom: 5px;
        height: 135dvh;
    }
    .parc {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 30px;
    }

    .foto-parc {
        width: 90%;
        height: auto;
    }

    .foto-parc img {
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    .desc-parc {
        width: 90%;
        margin: 0;
        text-align: center;
    }

    .desc-parc h2 {
        font-size: 20px;
    }

    .desc-parc h3 {
        font-size: 13px;
    }

    .desc-parc p {
        font-size: 14px;
        text-align: justify;
    }

    .parc-hr {
        width: 80%;
    }

    .logo-parcs {
        height: auto;
        padding: 15px 0;
    }

    .logs {
        gap: 20px;
    }

    .logs img {
        width: 70px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
     .foto-parc {
        width: 90%;
    }

    .foto-parc img {
        width: 100px;
        height: 200px;
        margin-top: 0;
    }
}

/*videos*/
.video-investimento {
  position: relative;
  width: 100%;
  height: 40vh;
  background: url('./img/istock.jpg') center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.video-investimento .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
}

.video-investimento .conteudo {
  position: relative;
  z-index: 2;
}

.btn-play {
  font-size: 50px;
  background: #28a745;
  border: none;
  color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
}
.btn-play:hover {
  background: #4cae4c;
}

/* Modal */
.modal-video {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}
.modal-video .fechar {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.video-container iframe {
  width: 80%;
  height: 80%;
}

@media screen and (max-width: 768px) {
    .video-investimento{
        height: 20vh;
    }
    .conteudo h2{
        font-size: 13px;
    }
    .conteudo p{
        font-size: 12px;
    }
    .btn-play{
        font-size: 25px;
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }
}

/*Footer*/
footer{
    background-color: #191c03;
    padding: 30px 20px;
}
footer a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 15px;
}

footer .inform-cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer h3{
    color: #c3c63b;
    font-weight: bold;
    margin-bottom: 10px;
}
footer li{

    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 10px;
}
footer ul{
    margin-bottom: 15px;
}
.cont .emal{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 10px;
}
.cont .emal:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
}

.map-container {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

footer p{
    color: #c3c63b;
    text-align: center;
}

@media screen and (max-width: 768px) {
    footer p{
        font-size: 10px;
    } 
    footer .inform-cont{
        flex-direction: column;
        align-items: start;
    }
    footer h3{
        font-size: 12px;
    }
    footer li{
        font-size: 11px;
    }
}